*{
    width: fit-content;
}
body{
    margin: 0;
    width: 100%
}
.parent-container{
    width: 100%;
}
.header{
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.25px solid black;
    padding-bottom: 10px;
    width: 100%;
}
.logo{
    margin-left: 42px;
    height: 48px;
    width: auto;
    font-size: 42px;
    font-family: "DotGothic16",sans-serif ;
}
.header_icons{
    margin-right: 42px;
    margin-top: 10px;
    display: flex;
    width: 442px;
    justify-content: space-between;
    align-items: center;
}
.icon_text{
    font-family: "DotGothic16",sans-serif ;
    font-size: 28px;
    transition: 0.4s all ease;
}
.icon_text:hover{
    color: #2419F3;
    scale: 1.2;
    cursor: pointer;
}
.big_text{
    font-family: "DotGothic16",sans-serif ;
    font-size: 120px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}
.big{
    padding-top: 96px;
    padding-bottom: 96px;
}
.big_img_div{
    height: 672px;
    display: flex;
    justify-content: center;
}
#big_img{
    width: 1380px;
    height: 672px;
    transition: 0.4s all ease;
}
#big_img:hover{
    scale: 1.02;
    box-shadow: 0px 0px 4px grey;
}
.flex_content{
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    justify-content: center;
}
.sub_content{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: space-between;
    gap: 48px;
}

.cards{
    width: 416px;
    height: 333px;
    transition: 0.3s all ease-in-out;
}
.card_img{
    width: 416px;
    height: 277px;
}
.cards:hover{
    scale: 1.03;
}
.img_text1, .img_text2{
    margin: 0;
    font-family: "Archivo",sans-serif;
    
}
.img_text1{
    margin-top: 8px;
    font-size: 20px;
    line-height: 24px;
    transition: 0.4s all ease;
}
.img_text1:hover{
    color: #6f0cdf;
    scale: 1.02;
    cursor: pointer;
}
.img_text2{
    font-size: 17px;
    line-height: 24px;
}
.text_div{
    height: 556px;
    width: 100%;
    justify-content: center;
}
.text_content{
    width: 672px;
    height: 364px;
    font-size: 48px;
    font-family: "DotGothic16",sans-serif;
    line-height: 52px;
    font-weight: 400;
    padding: 96px 0px;
    transition: 0.3s all ease;
}
.text_content:hover{
    color: rgb(19, 19, 183);
    scale: 1.04;
}
.centre{
    margin: 0 60px;
    padding: 48px 0;
}
.contact_info{
    height: 208px;
    padding-top: 48px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.contact_text{
    height: 32px;
    font-size: 28px ;
    font-family: "DotGothic16";
}
.additional_info{
    height: 112px;
    width: 648px;
    display: flex;
    justify-content: space-between;
}
.block_text{
    font-size: 17px;
    font-family: "Archivo",sans-serif;
    line-height: 28px;
}
.bottom_div{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.bottom_content{
    height: 276px;
    width: 400px;
    text-align: center;
}
.b_block{
    height: 64px;
    width: 56px;
    font-family: "Archivo",sans-serif;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
    transition: 0.3s ease all;
}
.b_block{
    scale: 1.03;
}
.bottom_blocks{
    padding-top: 25px;
    padding-left: 10px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin: 12px;
}
.bottom_head{
    font-family: "DotGothic16", sans-serif;
    font-size: 28px;
    line-height: 32px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}
.bottom_para{
    font-family: "Archivo",sans-serif;
    margin: 0;
    line-height: 20px;
    font-size: 15px;
    width: 100%;
    text-align: center;
}
.submit_btn{
    margin-top: 30px;
    width:400px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    background-color: #2419F3;
    border-radius: 8px;
    color: white;
    font-family: "Archivo Narrow",sans-serif;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s all ease;
}
.submit_btn:hover{
    background-color: #181288;
    scale: 1.05;
}
.skip-btn{
    margin-top: 20px;
    width:400px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    color: #2419F3;
    border-radius: 8px;
    font-family: "Archivo Narrow",sans-serif;
    font-size: 15px;
    font-weight: 500;
    transition: 0.3s all ease;
}
.skip-btn:hover{
    background-color: #181288;
    scale: 1.05;
    color: white;
}
.footer{
    width: 1343px;
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
    margin-bottom: 30px;
}
.contact-btn{
    font-family: 'DotGothic16',sans-serif;
    font-size: 20px;
    border: 1.5px solid black;
    border-radius: 8px;
    padding: 10px;
}
.copyright{
    font-family: 'DotGothic16',sans-serif;
    font-size: 28px;
}
@media screen and (max-width: 375px){
    body{
        width: auto;
    }
    .header{
        padding-top: 30px;
        width: 100%;
        height: 200px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header_icons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #big_img{
        width: 100%;
        padding: 0 2rem;/* Adds blank space on both sides */
        box-sizing: border-box;/* Ensures padding doesn't affect the width */
    }
    .logo{
        text-align: center;
        margin: 0;
        padding: 0;
        width: 100vw;
        font-family: DotGothic16;
        font-size: 4rem;
        font-weight: 400;
        margin-bottom: 30px;
    }
    .flex_content{
        width: 90%;
        margin-left: 50px;
    }
    .sub_content{
        display: flex;
        justify-content: center;
        
    }
    .card-img{
        display: flex;
        justify-content: center;
    }
    .img_text1{
        display: flex;
        justify-content: center;
    }
    .contact_info{
        width: 90%;
    }
    .footer{
        width: 90%;
    }
    
}

